<section class="history">
  <div class="history__inner">
    <h2 class="land__title land__title--white">История</h2>
    <p class="history__inner__text">
      Сергей выпускник Киевского Политехнического Института. Получив техническое
      образование и, будучи любителем электроники, радиотехники и автомобилей,
      вопрос выбора профессии не заставил долго ждать. Так, молодой и
      перспективный электрик попал в сферу обслуживания автомобилей, где
      работает уже более 25 лет (с 1998 года).
    </p>
    <p class="history__inner__text--bold">
      Опыт работы Сергея Зайцева, до открытия своего СТО, выглядит так:
    </p>
    <div class="numbers">
      <div class="numbers__item">
        <span class="numbers__number">01</span>
        <p class="numbers__text">Автосалон «АвтоЗАЗ&nbsp;-&nbsp;Daewoo»</p>
      </div>

      <div class="numbers__item">
        <span class="numbers__number">02</span>
        <p class="numbers__text">Автоцентр «LUCKY&nbsp;MOTORS»</p>
      </div>

      <div class="numbers__item">
        <span class="numbers__number">03</span>
        <p class="numbers__text">Автосервис «Сфера&nbsp;-&nbsp;АВТО»</p>
      </div>

      <div class="numbers__item">
        <span class="numbers__number">04</span>
        <p class="numbers__text">Автосервис «Статус&nbsp;-&nbsp;Авто»</p>
      </div>

      <div class="numbers__item">
        <span class="numbers__number">05</span>
        <p class="numbers__text">
          Дилерский автосалон и станция технического обслуживания
          «Эдем&nbsp;-&nbsp;Авто»
        </p>
      </div>
    </div>
    <img
      src="https://source.unsplash.com/random/770x770"
      style="filter: grayscale(1)"
    />
    <div class="bg__description">Сергей Зайцев</div>
  </div>
</section>
