<section class="certificates">
  <h2 class="land__title land__title--white">Сертификаты</h2>
  <p>
    За время работы, автоэлектрик Сергей Зайцев получил множество сертификатов,
    подтверждающих профессиональные знания и опыт работы с автомобильными
    охранными и противоугонными системами, а также другими электронными
    системами авто. С некоторыми из них вы можете ознакомиться ниже
  </p>

  <div class="slider__custom-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure>
            <img src="./img/certificates/1.jpg" />
            <figcaption>
              Сертификат официальной точки продаж автомобильных охранных систем
              Magnum Elite.
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <img src="./img/certificates/2.jpg" />
            <figcaption>
              Сертификат авторизации охранно-противоугонного комплекса BLACK
              BUG.
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <img src="./img/certificates/3.jpg" />
            <figcaption>
              Сертификат компании Progressive Innovative Technology
              подтверждающий квалификацию специалиста Зайцева С.А.
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <img src="./img/certificates/4.jpg" />
            <figcaption>
              Сертификат авторизованного партнера, для реализации и продажи
              продукции, компании Gazer.
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure>
            <img src="./img/certificates/5.jpg" />
            <figcaption>
              Сертификат, предоставляющий право на продажу, монтаж и
              обслуживания механической противоугонной системы CONSTRUCT.
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <button class="btn__prev" type="button">
      <svg class="" width="48" height="48" aria-hidden="true">
        <use xlink:href="./img/sprite.svg#circle_arrow"></use>
      </svg>
    </button>
    <button class="btn__next" type="button">
      <svg class="" width="48" height="48" aria-hidden="true">
        <use xlink:href="./img/sprite.svg#circle_arrow"></use>
      </svg>
    </button>
  </div>
</section>
