<section class="sto">
  <div class="sto__helper">
    <div class="sto__inner">
      <h2 class="land__title land__title--black">СТО Зайцев</h2>
      <p>
        Получив больше 15 лет опыта работы на автосервисах, Сергей решил создать
        собственное <strong>СТО в Броварах.</strong>
      </p>
      <p>
        Уже 8 лет (С 2013) года станция успешно радует всех желающих, о чем
        говорит постоянный поток клиентов и масса положительных отзывов.
      </p>
      <a class="link-btn hover__btn" href="./sto-zaycev.html">СТО в Броварах</a>
    </div>
  </div>
</section>
