<section class="brands">
  <h2 class="land__title land__title--white">За время ведения видеоблога</h2>
  <p>
    С каналом поработало много брендов, известных автомобилистам. Среди топовых
    можно выделить следующие компании:
  </p>
  <div class="brands__list">
    <a
      href="https://www.pandora-alarm.ru/"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="./img/brands/pandora.png" alt="pandora"
    /></a>
    <a href="https://www.starline.ru/" target="_blank" rel="noopener noreferrer"
      ><img src="./img/brands/starline.png" alt="starline"
    /></a>
    <a
      href="https://launch.aliexpress.ru/store/2539007"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="./img/brands/launch.png" alt="launch"
    /></a>
    <a href="https://ru.gearbest.com/" target="_blank" rel="noopener noreferrer"
      ><img src="./img/brands/gearbest.png" alt="gearbest"
    /></a>
    <a
      href="https://myatoto.aliexpress.ru/store/408267"
      target="_blank"
      rel="noopener noreferrer"
      ><img src="./img/brands/atoto.jpg" alt="atoto"
    /></a>
    <a href="https://carlamp.com.ua/" target="_blank" rel="noopener noreferrer"
      ><img src="./img/brands/carlamp.jpg" alt="carlamp"
    /></a>
    <a href="https://gdtools.ru/" target="_blank" rel="noopener noreferrer"
      ><img src="./img/brands/gdtools.png" alt="gdtools"
    /></a>
    <a href="https://construct.in.ua/" target="_blank" rel="noopener noreferrer"
      ><img src="./img/brands/construct.png" alt="construct"
    /></a>
    <a href="https://piti.ru/" target="_blank" rel="noopener noreferrer"
      ><img src="./img/brands/sheriff.png" alt="sheriff"
    /></a>
  </div>
</section>
