<section class="blog">
  <div class="blog__inner">
    <h2 class="land__title land__title--black">Блог</h2>
    <p>
      В 2021 году был запущен блог, в котором публикуются полезные материалы для
      всех автолюбителей. Статьи выходят регулярно, поэтому смело добавляйте
      сайт в закладки!
    </p>
    <p>
      Именно в текстовом варианте можно найти примеры работ, а также схемы и
      другие собранные вручную данные, из личной практики Сергея Зайцева,
      которые не имеют отдельного видео на YouTube канале.
    </p>
    <a class="link-btn hover__btn" href="#">Читать блог</a>
  </div>
</section>
