<footer class="footer__main-page">
  <div class="footer__wrapper">
    <div class="footer__menu">
      <nav class="footer-nav">
        <ul>
          <li><a href="/" class="active">Главная</a></li>
          <li><a href="./sto-zaycev.html">Сто зайцев</a></li>
          <li><a href="#">Блог</a></li>
          <li><a>Схемы</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__content">
      <h4 class="footer__content__title">Cвязаться для сотрудничества</h4>
      <button class="btn hover__btn" type="button">Оставить заявку</button>
      <p class="footer__content__text">или в социальных сетях:</p>
      <div class="footer__links">
        <a
          href="https://www.facebook.com/stozaycev"
          aria-label="facebook"
          rel="noopener noreferrer"
        >
          <svg class="svg__mail" width="39" height="39" aria-hidden="true">
            <use xlink:href="./img/sprite.svg#facebook__footer"></use>
          </svg>
        </a>
        <a
          href="https://vk.com/stozaycev"
          aria-label="vkontakte"
          rel="noopener noreferrer"
        >
          <svg class="svg__mail" width="39" height="39" aria-hidden="true">
            <use xlink:href="./img/sprite.svg#vk__footer"></use>
          </svg>
        </a>
        <a
          href="https://www.drive2.ru/users/stozaycev/"
          aria-label="mail"
          rel="noopener noreferrer"
        >
          <img
            src="./img/drive2ru__footer.jpg"
            width="86"
            height="36"
            alt="drive2.ru"
          />
        </a>
        <a
          href="https://www.youtube.com/c/%D0%90%D0%B2%D1%82%D0%BE%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D0%BA%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9%D0%97%D0%B0%D0%B9%D1%86%D0%B5%D0%B2"
          aria-label="youtube"
          rel="noopener noreferrer"
        >
          <svg width="55" height="39" viewBox="0 0 68 48">
            <path
              class="footer__yt-shape"
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
            ></path>
            <path class="footer__yt-icon" d="M 45,24 27,14 27,34"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright"><p>2021 ©</p></div>
</footer>
