<section class="first__screen__sto">
  <h1 class="page__title">
    Услуги автоэлектрика
    <span
      >в&nbsp;<a href="#address-block" class="page__title__svg"
        >Броварах
        <img
          src="./img/map.svg"
          width="28"
          height="40"
          alt="map icon"
          aria-hidden="true"
        />
      </a>
    </span>
  </h1>
  <div class="foto__bg">
    <img src="./img/sto_sz.png" alt="" />
    <button
      class="btn sz__btn pulse"
      id="dropdown_sz_menu_button"
      type="button"
      aria-expanded="false"
      aria-controls="sz_dropdown_menu"
      aria-label="open description"
    ></button>
    <div
      class="sz dropdown"
      id="sz_dropdown_menu"
      aria-labelledby="dropdown_sz_menu_button"
    >
      Сергей Зайцев. Автоэлектрик с опытом работы более 25 лет.
      <address>Адрес СТО: г.Бровары, ул.Металлургов</address>
    </div>
  </div>
</section>
