<section class="icons__block">
  <div class="icons__item">
    <div class="icons__item__icon">
      <img
        src="./img/icons_block_1.svg"
        width="88"
        height="93"
        alt="Компьютерная диагностика автомобиля"
      />
    </div>
    <div class="icons__item__text">
      <div class="helper">
        <h3 class="icons__item__text--title">
          Компьютерная диагностика автомобиля
        </h3>
      </div>
      <ul>
        <li>Считывание и удаление ошибок.</li>
        <li>Расшифровка кодов неисправностей.</li>
        <li>Возможность дальнейшего ремонта неполадок.</li>
        <li>Обслуживание широкого пула автомобильных брендов и моделей.</li>
      </ul>
    </div>
  </div>
  <div class="icons__item">
    <div class="icons__item__icon">
      <img
        src="./img/icons_block_2.svg"
        width="88"
        height="93"
        alt="Компьютерная диагностика автомобиля"
      />
    </div>
    <div class="icons__item__text">
      <div class="helper">
        <h3 class="icons__item__text--title">
          Установка дополнительного оборудования
        </h3>
      </div>
      <ul>
        <li>
          Парктроники, камеры, видеорегистраторы, центральные замки, доводчики
          дверей и т.д.
        </li>
        <li>Подключение систем на любые марки авто.</li>
        <li>Гарантия на установку - 1 год.</li>
        <li>Возможность установки клиентского оборудования.</li>
      </ul>
    </div>
  </div>
  <div class="icons__item">
    <div class="icons__item__icon">
      <img
        src="./img/icons_block_3.svg"
        width="88"
        height="93"
        alt="Компьютерная диагностика автомобиля"
      />
    </div>
    <div class="icons__item__text">
      <div class="helper">
        <h3 class="icons__item__text--title">
          Установка защиты и противоугонных систем
        </h3>
      </div>
      <ul>
        <li>
          Автосигнализации, иммобилайзеры, замки капота, блокировки OBD разъемов
          и т.д.
        </li>
        <li>Сертификация топовых компаний StarLine и Pandora.</li>
        <li>Опыт установки более 25 лет.</li>
        <li>Возможность приобретения оборудования под заказ.</li>
      </ul>
    </div>
  </div>
  <div class="icons__item">
    <div class="icons__item__icon">
      <img
        src="./img/icons_block_4.svg"
        width="88"
        height="93"
        alt="Компьютерная диагностика автомобиля"
      />
    </div>
    <div class="icons__item__text">
      <div class="helper">
        <h3 class="icons__item__text--title">Подогрев и обогрев</h3>
      </div>
      <ul>
        <li>Обязательный элемент для холодного времени года.</li>
        <li>Комфортная езда в авто для водителя и пассажиров.</li>
        <li>Установка подогрева сидений и зеркал.</li>
        <li>Ремонт штатного оборудования.</li>
      </ul>
    </div>
  </div>
  <div class="icons__item">
    <div class="icons__item__icon">
      <img
        src="./img/icons_block_5.svg"
        width="88"
        height="93"
        alt="Компьютерная диагностика автомобиля"
      />
    </div>
    <div class="icons__item__text">
      <div class="helper">
        <h3 class="icons__item__text--title">Тонировка и растонировка</h3>
      </div>
      <ul>
        <li>Качественное тонирование стекол автомобиля.</li>
        <li>Использование американской пленки Global.</li>
        <li>Тонировка боковых и задних стекол.</li>
        <li>Снятие старой тонировки.</li>
      </ul>
    </div>
  </div>
  <a class="icons__block__bg-link" href="#price__block">Прайс</a>
</section>
