<section class="maps__block">
  <div class="maps__block__inner">
    <h2 class="land__title land__title--white">Автоэлектрик на&nbsp;выезд</h2>
    <div class="maps__block__content">
      <div class="maps__block__content--text">
        <p>
          В связи с большим количеством просьб и заявок, СТО «Зайцев» в
          Броварах, оказывает услугу «Автоэлектрик на выезд». В краткие сроки
          будет проведена диагностика, обнаружена причина неисправности авто и
          оказана профессиональная помощь.
        </p>
        <p class="warning">
          Просьба обратить внимание, что услуга “Автоэлектрик на выезд” не
          оказывается круглосуточно! Актуальный график работы СТО смотрите в
          разделе <a href="#proposal__block">Контакты</a>.
        </p>
        <p>
          Из-за высокой нагрузки, возможность выезда мастера за город Бровары,
          обговаривается по телефону. Приблизительный список городов и сел,
          попадающий под территорию обслуживания:
        </p>
      </div>
      <div class="maps__block__content--table">
        <div class="table__item">
          <span class="maps__item__count">
            <svg
              width="21"
              height="32"
              viewBox="0 0 28 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="svg__map"
                d="M14 0C6.26 0 0 6.26 0 14C0 24.5 14 40 14 40C14 40 28 24.5 28 14C28 6.26 21.74 0 14 0ZM14 19C11.24 19 9 16.76 9 14C9 11.24 11.24 9 14 9C16.76 9 19 11.24 19 14C19 16.76 16.76 19 14 19Z"
              />
            </svg>
            01
          </span>
          <p>Бровары, Димитрово, Перемога.</p>
          <p>Стоимость – 200 грн.</p>
        </div>
        <div class="table__item">
          <span class="maps__item__count">
            <svg
              width="21"
              height="32"
              viewBox="0 0 28 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="svg__map"
                d="M14 0C6.26 0 0 6.26 0 14C0 24.5 14 40 14 40C14 40 28 24.5 28 14C28 6.26 21.74 0 14 0ZM14 19C11.24 19 9 16.76 9 14C9 11.24 11.24 9 14 9C16.76 9 19 11.24 19 14C19 16.76 16.76 19 14 19Z"
              />
            </svg>
            02
          </span>
          <p>Княжичи, Требухов, Красиловка, Калиновка, Скибин.</p>
          <p>Стоимость – 300 грн.</p>
        </div>
        <div class="table__item">
          <span class="maps__item__count">
            <svg
              width="21"
              height="32"
              viewBox="0 0 28 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="svg__map"
                d="M14 0C6.26 0 0 6.26 0 14C0 24.5 14 40 14 40C14 40 28 24.5 28 14C28 6.26 21.74 0 14 0ZM14 19C11.24 19 9 16.76 9 14C9 11.24 11.24 9 14 9C16.76 9 19 11.24 19 14C19 16.76 16.76 19 14 19Z"
              />
            </svg>
            03
          </span>
          <p>
            Большая Дымерка, Заря, Гоголев, Рожевка, Пуховка, Зазимье, Погребы,
            Киев (Левый берег Днепра: Деснянский, Днепровский, Дарницкий
            районы).
          </p>
          <p>Стоимость – 400 грн.</p>
        </div>
        <div class="table__item">
          <span class="maps__item__count">
            <svg
              width="21"
              height="32"
              viewBox="0 0 28 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="svg__map"
                d="M14 0C6.26 0 0 6.26 0 14C0 24.5 14 40 14 40C14 40 28 24.5 28 14C28 6.26 21.74 0 14 0ZM14 19C11.24 19 9 16.76 9 14C9 11.24 11.24 9 14 9C16.76 9 19 11.24 19 14C19 16.76 16.76 19 14 19Z"
              />
            </svg>
            04
          </span>
          <p>
            Киев (Правый берег Днепра: Оболонский, Святошинский, Подольский,
            Соломенский, Печерский, Голосеевский районы).
          </p>
          <p>Стоимость – 500 грн.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="maps__iframe">
    <iframe
      id="maps__iframe"
      title="google maps"
      src="https://www.google.com/maps/d/u/0/embed?mid=1HKtEYbwsz0NMWPKHvqOUVFqKb9JhweXX&ll=50.447203533504684%2C30.639273772879168&z=11"
      style="width: 100%; font-size: 0"
      height="480"
    ></iframe>
  </div>
</section>
