<section class="price__block" id="price__block">
  <h2 class="land__title land__title--white">
    Установка и ремонт электрики авто Бровары
  </h2>
  <p>
    СТО Зайцев предоставляет широкий спектр услуг по подключению и ремонту
    неисправностей автомобильного оборудования. Электронный тюнинг машины с
    гарантией - это именно то, что требуется большинству автовладельцев.
    Ознакомиться со списком услуг и их ценой можно в Прайсе ниже. Использование
    своих запчастей оговаривается при записи.
  </p>
  <h3 class="price__block--title">Стоимость услуг</h3>
  <div class="price__block__content">
    <div class="price__block__content--left">
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title"
            >Установка дополнительного оборудования</span
          >
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка GPS маяка
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка парктроника (4 датчика)
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка парктроника (8 датчиков)
            </div>
            <div class="accordion__content--item--cost">от 3200</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка камеры заднего вида
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка камеры переднего вида
            </div>
            <div class="accordion__content--item--cost">от 2000</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка видеорегистратора
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка GPS трекера
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка электростеклоподъемников (на 2 окна)
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка доводчиков стекол (4 стекла)
            </div>
            <div class="accordion__content--item--cost">от 600</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка электропривода (актуатора) двери
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка электропривода (актуатора) багажника
            </div>
            <div class="accordion__content--item--cost">от 600</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка соленоида багажника
            </div>
            <div class="accordion__content--item--cost">от 800</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка центрального замка (4 электропривода, проводка, блок)
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Подогрев и обогрев</span>
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка подогрева сидений (материалы заказчика, 2 передних
              сидения)
            </div>
            <div class="accordion__content--item--cost">от 2500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка подогрева сидений (материалы заказчика, 2 задних
              сидения)
            </div>
            <div class="accordion__content--item--cost">от 2800</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка подогрева сидений (материалы станции, 2 передних
              сидения)
            </div>
            <div class="accordion__content--item--cost">от 4500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка подогрева сидений (материалы станции, 2 задних сидения)
            </div>
            <div class="accordion__content--item--cost">от 4800</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка подогрева зеркал (материалы заказчика)
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка подогрева зеркал
            </div>
            <div class="accordion__content--item--cost">1500</div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Автозвук</span>
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка сабвуфера
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка автомагнитолы
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка акустики (в штатные места, 2 динамика)
            </div>
            <div class="accordion__content--item--cost">от 600</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка акустики (с подгонкой, 2 динамика)
            </div>
            <div class="accordion__content--item--cost">от 1200</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка усилителей
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Защита двигателя</span>
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка защиты картера
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">Защита радиатора</div>
            <div class="accordion__content--item--cost">от 2000</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">Защита коробки</div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Ремонт автоэлектрики</span>
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Замена и ремонт электропроводки
            </div>
            <div class="accordion__content--item--cost">от 200</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ремонт центрального замка
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ремонт отопления салона, ремонт вентиляции салона
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ремонт освещения автомобиля
            </div>
            <div class="accordion__content--item--cost">от 100</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ремонт автомобильных люков с электроприводом
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ремонт электростеклоподъемников
            </div>
            <div class="accordion__content--item--cost">от 600</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ремонт подогрева сидений
            </div>
            <div class="accordion__content--item--cost">от 1300</div>
          </div>
        </div>
      </div>
    </div>
    <div class="price__block__content--right">
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Тонировка и растонировка</span>
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Тонирование стекол автомобиля (легковое авто)
            </div>
            <div class="accordion__content--item--cost">от 2000</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Тонировка стекол автомобиля (микроавтобус)
            </div>
            <div class="accordion__content--item--cost">от 2500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Тонировка стекол автомобиля (внедорожник)
            </div>
            <div class="accordion__content--item--cost">от 2200</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Растонирование стекол автомобиля (боковое)
            </div>
            <div class="accordion__content--item--cost">100</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Растонирование стекол автомобиля (заднее)
            </div>
            <div class="accordion__content--item--cost">от 600</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Растонирование стекол автомобиля (лобовое)
            </div>
            <div class="accordion__content--item--cost">от 600</div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Автосвет</span>
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ксенон установка (со снятием бампера и фар)
            </div>
            <div class="accordion__content--item--cost">от 1200</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Ксенон установка (без демонтажа)
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка биксенона (со снятием бампера и фар)
            </div>
            <div class="accordion__content--item--cost">от 1400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка биксенона (без демонтажа)
            </div>
            <div class="accordion__content--item--cost">от 500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка противотуманных фар (материалы заказчика, со снятием
              бампера)
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка противотуманных фар (материалы заказчика, без демонтажа)
            </div>
            <div class="accordion__content--item--cost">1200</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка дневных ходовых огней
            </div>
            <div class="accordion__content--item--cost">600</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Дальний свет в пол накала (DRL)
            </div>
            <div class="accordion__content--item--cost">600</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Замена ламп ближнего света, замена ламп дальнего света, замена
              ламп подсветки, замена ламп заднего фонаря, замена ламп габаритных
              огней, замена ламп приборной панели
            </div>
            <div class="accordion__content--item--cost">50</div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title"
            >Установка защиты и противоугонных систем</span
          >
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка секретной кнопки на авто (секретка, противоугонка)
            </div>
            <div class="accordion__content--item--cost">от 1200</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка замка капота
            </div>
            <div class="accordion__content--item--cost">от 2000</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка мультилока (MUL-T-LOCK)
            </div>
            <div class="accordion__content--item--cost">от 2500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка блокировки коробки передач (CONSTRUCT)
            </div>
            <div class="accordion__content--item--cost">от 3000</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка иммобилайзера
            </div>
            <div class="accordion__content--item--cost">от 1500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка двухсторонней сигнализации
            </div>
            <div class="accordion__content--item--cost">от 2500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка односторонней сигнализации
            </div>
            <div class="accordion__content--item--cost">от 2000</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка сигнализации с автозапуском
            </div>
            <div class="accordion__content--item--cost">от 3500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка GSM сигнализации
            </div>
            <div class="accordion__content--item--cost">от 2500</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Демонтаж сигнализации
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка CAN-модуля
            </div>
            <div class="accordion__content--item--cost">400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка обходчика иммобилайзера
            </div>
            <div class="accordion__content--item--cost">400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Установка турботаймера
            </div>
            <div class="accordion__content--item--cost">от 400</div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Блокировка Keyless Go
            </div>
            <div class="accordion__content--item--cost">от 2500</div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Диагностика</span>
          <span class="accordion__icon">
            <svg class="svg__dropdown" aria-hidden="true">
              <use xlink:href="./img/sprite.svg#dropdown"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="accordion__content--description">
            <div class="accordion__content--description--left">Услуга</div>
            <div class="accordion__content--description--right">
              Цена (грн.)
            </div>
          </div>
          <div class="accordion__content--item">
            <div class="accordion__content--item--name">
              Компьютерная диагностика автомобиля
            </div>
            <div class="accordion__content--item--cost">от 200</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
