<section class="portfolio__block">
  <h2 class="land__title land__title--white">Примеры работ</h2>

  <div class="slider__custom-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/portfolio/1.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/portfolio/2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/portfolio/3.jpg" />
        </div>
      </div>
    </div>
    <button class="btn__prev" type="button">
      <svg class="" width="48" height="48" aria-hidden="true">
        <use xlink:href="./img/sprite.svg#circle_arrow"></use>
      </svg>
    </button>
    <button class="btn__next" type="button">
      <svg class="" width="48" height="48" aria-hidden="true">
        <use xlink:href="./img/sprite.svg#circle_arrow"></use>
      </svg>
    </button>
  </div>
</section>
