<section class="benefits__block">
  <div class="benefits__block__inner">
    <h2 class="land__title land__title--white">
      Преимущества работы СТО&nbsp;Сергея Зайцева
    </h2>
    <div class="benefits__block__content">
      <div class="benefits__content--item">
        <div class="benefits__item--title"><p>Многолетний опыт</p></div>
        <div class="benefits__item--descr">
          <span>01</span>
          <p>
            Больше 25 лет работы в сфере автосервиса, дали возможность
            ознакомиться с большом количеством автомобильных марок, видов
            поломок и дополнительными устройствами.
          </p>
        </div>
      </div>
      <div class="benefits__content--item">
        <div class="benefits__item--title"><p>Профессионализм</p></div>
        <div class="benefits__item--descr">
          <span>02</span>
          <p>
            Все наработки и опыт, полученные Сергеем за свою многолетнюю
            практику, позволяют браться даже за самые трудные случаи, от которых
            отказываются другие специалисты. Об экспертности говорят
            многочисленные сертификаты и отзывы довольных клиентов.
          </p>
        </div>
      </div>
      <div class="benefits__content--item">
        <div class="benefits__item--title"><p>Индивидуальный подход</p></div>
        <div class="benefits__item--descr">
          <span>03</span>
          <p>
            Мы одно из немногих СТО в Броварах, на котором нет шаблонного
            механизма действий - от приема до сдачи. Каждая машина является
            уникальной, поэтому требует полного изучения мастером, для
            идеального результата. При этом всегда стараемся выдерживать
            оговоренные сроки и стоимости.
          </p>
        </div>
      </div>
      <div class="benefits__content--item">
        <div class="benefits__item--title"><p>Гарантия на работу</p></div>
        <div class="benefits__item--descr">
          <span>04</span>
          <p>
            На все услуги, оказанные на СТО, дается гарантия 1 год. Это дает
            возможность в полной мере протестировать установленное оборудование,
            оценить качество ремонта, а также убедиться в нашей квалификации.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
