<section class="reviews__block">
  <h2 class="land__title land__title--white">
    Отзывы о СТО "Зайцев" в&nbsp;Броварах
  </h2>
  <div class="reviews__cards">
    <div class="reviews__cards--item">
      <div class="reviews__item--stars">
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star--half"></div>
      </div>
      <div class="reviews__item--rating">4.3</div>
      <div class="reviews__item--logo">
        <img src="./img/google.png" width="66" height="20" alt="google" />
      </div>
      <a
        href="https://www.google.com/search?q=%D0%A1%D0%A2%D0%9E+%D0%97%D0%B0%D0%B9%D1%86%D0%B5%D0%B2&rlz=1C1CHZN_ruUA970UA970&sxsrf=AOaemvJe3DOCrrv35gEObnbsSbn7lzRqGQ%3A1634638071481&ei=95huYZ_XHK-C9u8P3LurgAE&ved=0ahUKEwjfrtisndbzAhUvgf0HHdzdChAQ4dUDCA4&uact=5&oq=%D0%A1%D0%A2%D0%9E+%D0%97%D0%B0%D0%B9%D1%86%D0%B5%D0%B2&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIFCAAQgAQyCAgAEAgQBxAeOgcIABBHELADOgcIIxCwAhAnOggIABANEAUQHjoGCAAQBRAeSgQIQRgAUJhMWN5yYPp3aAJwAngAgAGSAYgB7QaSAQMwLjeYAQCgAQHIAQjAAQE&sclient=gws-wiz#lrd=0x40d4d90e771c3ae7:0xf8842a31c2c0adb3,1,,,"
        class="reviews__item--count"
        target="_blank"
        rel="noopener noreferrer"
        >97 отзывов</a
      >
    </div>
    <div class="reviews__cards--item">
      <div class="reviews__item--stars">
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
      </div>
      <div class="reviews__item--rating">5</div>
      <div class="reviews__item--logo" style="font-size: 18px; color: #ff8900">
        Все СТО™
      </div>
      <a
        href="https://vse-sto.com.ua/sto/7613-zajcev/"
        target="_blank"
        rel="noopener noreferrer"
        class="reviews__item--count"
        >66 отзывов</a
      >
    </div>
    <div class="reviews__cards--item">
      <div class="reviews__item--stars">
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
        <div class="reviews__item--star"></div>
      </div>
      <div class="reviews__item--rating">5</div>
      <div class="reviews__item--logo">
        <img src="./img/autoua.png" width="142" height="14" alt="google" />
      </div>
      <a
        href="https://point.autoua.net/tochki/3502-sto-zajtsev/#reviews"
        target="_blank"
        rel="noopener noreferrer"
        class="reviews__item--count"
        >9 отзывов</a
      >
    </div>
  </div>

  <div class="slider__custom-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/review1.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/review2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./img/review3.jpg" />
        </div>
      </div>
    </div>
    <button class="btn__prev" type="button">
      <svg class="" width="48" height="48" aria-hidden="true">
        <use xlink:href="./img/sprite.svg#circle_arrow"></use>
      </svg>
    </button>
    <button class="btn__next" type="button">
      <svg class="" width="48" height="48" aria-hidden="true">
        <use xlink:href="./img/sprite.svg#circle_arrow"></use>
      </svg>
    </button>
  </div>
</section>
