<div class="header__language dropdown">
  <button
    class="dropdown-toggle"
    id="dropdown_language_menu_button"
    aria-expanded="false"
    aria-controls="language_dropdown_menu"
    type="button"
  >
    RU
    <svg class="svg__dropdown" aria-hidden="true">
      <use xlink:href="./img/sprite.svg#dropdown"></use>
    </svg>
  </button>
  <ul
    class="language dropdown-menu"
    id="language_dropdown_menu"
    aria-labelledby="dropdown_language_menu_button"
  >
    <li>
      <a class="dropdown-item" href="./test.html">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#ua"></use>
        </svg>
        Украинский</a
      >
    </li>
    <li>
      <a class="dropdown-item active" href="#">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#ru"></use>
        </svg>
        Русский</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#en"></use>
        </svg>
        Английский</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#es"></use>
        </svg>
        Испанский</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#it"></use>
        </svg>
        Итальянский</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#de"></use>
        </svg>
        Немецкий</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#pt"></use>
        </svg>
        Португальский</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <svg class="svg__country" width="31" height="22" aria-hidden="true">
          <use xlink:href="./img/sprite.svg#fr"></use>
        </svg>
        Французкий</a
      >
    </li>
  </ul>
</div>
